.c-block-work{
    margin-bottom: 20px;
 background-color: $secondary-color;
 padding-top: 80px;
 padding-right: 20px;
 padding-bottom: 40px;
 padding-left: 20px;
@include tablet {
    padding-top: 40px;
}
}
.c-work-subtitle{
    color: $primary-color;

}
.c-work-title{
    font-size: 24px;
    color: $primary-color;
    padding-bottom: 0.5em;
}
.c-img-wrapper{
    position: relative;  
    width: 100%;

    &--work{
aspect-ratio: 832 / 326;
    }
}

.u-bg-image{
    position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
}


//CARRUSEL
.react-multiple-carousel__arrow--right{
    top: calc(5% + 1px) !important;

    background-color: $secondary-color;
    @include tablet{
        top: inherit !important;

    }
  
}
.react-multiple-carousel__arrow--left{
    top: calc(5% + 1px) !important;
    @include tablet{
        top: inherit !important;

    }
}
.react-multiple-carousel__arrow{
    background-color: $secondary-color !important;
    @include tablet{
        background-color: $black-color !important;
    }
}
.react-multiple-carousel__arrow::before{
    @include tablet{
        color: $primary-color !important;
    }
}