.c-block-work{
    margin-bottom: 20px;
 
}
.c-work-title{
    font-size: 32px;
    padding-bottom: 1em;
}
.c-img-wrapper{
    position: relative;
    aspect-ratio: 832 / 326;
    width: 100%;
    height: 100%;

}

.u-bg-image{
    position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
}