
p {
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    margin: 0 0 24px !important;

}
a:-webkit-any-link {
    text-decoration: none;
    color: $black-color;
    }
    //*------------GLOBAL------------*//

p {
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    margin: 0 0 10px;
}
body {
    font-family: $text-font;
    background-color: rgb(255, 246, 235);
    color: rgb(24, 24, 24);
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.2px;
}
.u-link-reset{
    text-decoration: none !important;
}

.c-block{
    margin-bottom: 40px;
    padding: 0 50px;
    @include tablet{
        max-width: 1200px;

        margin-left: auto;
        margin-right: auto;
    }
    @include desktop{
        max-width: 800px;

        margin-left: auto;
        margin-right: auto;
    }
}

   
.c-block-title{
font-size: 24px;
width: fit-content;
margin-bottom: 24px;
}
.c-block-title span{
    display: block;
}
.u-text-underline{
border-bottom: rgb(24, 24, 24) 2px solid;
}
.c-block-section{
   margin-bottom: 40px;
}
.u-fullwidth{
    width: 100vw !important;
}

.u-text-align-center{
    text-align: center;
}
.u-bold-italic{
    font-weight: 600;
    font-style: italic;
}
.u-border-round{
    border-radius: 27px 40px 3px;
    
}
.c-block-title .u-span-inline{
display: inline;
}
.u-center-flex{
    display: flex;
    flex-direction: column;
}