
p {
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    margin: 0 0 24px !important;

}

.c-block-title{
font-weight: 600;
font-size: 24px;
width: fit-content;
margin-bottom: 24px;
}
.c-block-title span{
    display: block;
}
.u-text-underline{
border-bottom: rgb(24, 24, 24) 2px solid;
}
.c-block-section{
   margin-bottom: 40px;
}
.u-fullwidth{
    width: 100vw !important;
}
.u-text-align-center{
    text-align: center;
}