//fonts


$text-font: 'Inter Tight', sans-serif;
//colors
$black-color: rgb(24, 24, 24);
$white-color: rgb(255, 255, 255);
$primary-color: rgb(255, 246, 235);
$secondary-color: #698696;
$secondary-color-light: #a5bbc779;

