//fonts
$titles-font-family-bold: "monument-extended-bold", sans-serif;
$titles-font-family-regular: "monument-extended-regular", sans-serif;
// $console-font: "IBM Plex Mono", monospace;
// $console-font: "Roboto Condensed", sans-serif;
// $text-font: "Roboto Condensed", sans-serif;
$console-font: "Chakra Petch", sans-serif;
$text-font: "Chakra Petch", sans-serif;
//colors
$black: black;
$white: white;
$gray: rgb(148, 147, 147);

$whiteText: white;
$blackText: black;
$pinkColor: rgb(245, 105, 128);
$grayText: rgb(24, 24, 24);
