.c-block-contact{
    display: inline-block;
   padding: 5%;
   @include tablet{
    max-width: 60%;
    margin-left: auto !important;
    margin-right: auto !important;
   }
  
&--border{
    border: $black-color 1px solid;
}
&--margin-vertically{
    margin: 82px auto !important
}
}

.c-block-icon--hand {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    transform: rotate(-17deg)
}

.c-block-contact .u-bold-italic{
padding-left: 5px;
}
.c-block-contact .u-hover-underline{
    @include desktop{   display: inline-block;
  position: relative;}
 

}
.c-block-contact .u-hover-underline:after{
    @include desktop { 
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $black-color;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;}
}
.c-block-contact:hover .u-hover-underline:after{
    @include desktop{ 
    transform: scaleX(1);
  transform-origin: bottom left;}
}