.c-block-footer{
padding: 13px 0;
background-color: $secondary-color;

&__list{
color: $secondary-color;

    display: flex;
flex-direction: row;
justify-content: space-around;

}
&__text span{
    color: white;
}
}