.c-block.c-block-header{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 15%;
    padding-bottom: 15%;

     @include desktop{
        padding-top: 20px;
        padding-bottom: 20px;
     }
}
.c-header-title{
    font-weight: 600;
    font-size: 27px;
    padding-top: 20px;
}

.c-header-subtitle {
    &__text span{
        display: block;
        text-align: center;
    }
@include tablet{
    margin-bottom: 62px;
}
 
}
.c-header-title span{
    display: block;
}
.c-img-wrapper{
    &__portrait{
aspect-ratio: 500 / 570;
max-width: 100px;
@include desktop{
    max-width: 200px;
}

&--border{
    border-radius: 27px 40px 3px
}
    }
}
